<%content_for :title, @task.name%>
<p><%=@task.description%></p>
<%if !is_working_on_task?(@task)%>
<%=button_to 'Work on this task', add_worker_path(@task), method: :patch%>
<%end%>

<p>status: <%= @task.status %></p>
