<% content_for :title, @group.name %>

<div class="container main-wrapper">
  <div class="row">
    <div class="col-sm-4 pending-tasks-list">
      <h2>Pending tasks</h2>
      <%=render 'projects/tasks', collection: @group.tasks.pending %>
    </div>

    <div class="col-sm-4 in-progress-tasks-list">
      <h2>In progress tasks</h2>
      <%=render 'projects/tasks', collection: @group.tasks.in_progress %>
    </div>

    <div class="col-sm-4 finished-tasks">
      <h2>Finished tasks</h2>
      <%=render 'projects/tasks', collection: @group.tasks.finished %>
    </div>
  </div>

  <%= link_to 'Add task', new_group_task_path(@group), class: 'btn-lg btn-success'%>

</div>
