<%content_for :title, @user.full_name%>
<% if current_user.sent_connections.include? @user %>
  <p>You already have sent a connection request to this user </p>
<% elsif current_user.received_connections.include? @user%>
  <%request = current_user.received_connection_requests.where(user_id: @user.id) %>
  <p> <%= button_to 'Accept connection request', accept_request_path(request) %></p>
<% elsif @user != current_user && !current_user.accepted_connections.include?(@user)%>
  <p><%=button_to 'Send connection request', send_request_path(@user)%></p>
<%end%>
